Flask
waitress
streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
faiss-cpu
pydantic
sentence-transformers
requests
unstructured
python-multipart
markdown